<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp&display=swap"/>
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <div class='container'>
    <aside>
        <div class="top">
          <div class="logo">
            <h2><span class="danger">Quiz</span></h2>
          </div>
          <div class="close" id="close_button">
            <span class="material-symbols-sharp">close</span>
          </div>
        </div>
    
        <div class="sidebar">
    
          <a href="{% url 'home' %}"> 
            <span class="material-symbols-sharp">grid_view</span>
            <h3> Home </h3>
          </a>
    
    
          {% if user_auth.is_anonymous %}
          <a href="{% url 'login'%}"> 
            <span class="material-symbols-sharp"> login </span>
            <h3> Sign In </h3>
          </a>
          {% endif %}
    
          {% if user_auth.is_authenticated %}
          <a href="{% url 'logout'%}"> 
            <span class="material-symbols-sharp"> login </span>
            <h3> Logout </h3>
          </a>
          {% endif %}
          
        </div>
      </aside>
    </div>

      <div class="right">
        <div class="top">
          <button id="menu_bar">
            <span class="material-symbols-sharp"> menu </span>
          </button>
      
        </div>
        
      </div>

    
    <div class="admin-page-box">
        <form method="post" class="form-box">
            {% csrf_token %}
            <b class="quiz-question">{{ question }}</b>
            <b class="quiz-rolling">Question {{ question_number }} of {{ total_number }}</b><br>
            <div class="quiz-option">
                <input class="quiz-answer" type="radio" id="choice1" name="question" value="{{ choice1 }}">
                <label for="choice1" class="quiz-text">{{ choice1 }}</label>
            </div>
            <div class="quiz-option">
                <input class="quiz-answer" type="radio" id="choice2" name="question" value="{{ choice2 }}">
                <label for="choice2" class="quiz-text">{{ choice2 }}</label>
            </div>
            <div class="quiz-option">
                <input class="quiz-answer" type="radio" id="choice3" name="question" value="{{ choice3 }}">
                <label for="choice3" class="quiz-text">{{ choice3 }}</label>
            </div>
            <div class="quiz-option">
                <input class="quiz-answer" type="radio" id="choice4" name="question" value="{{ choice4 }}">
                <label for="choice4" class="quiz-text">{{ choice4 }}</label>
            </div>
            <input type="submit" value="Submit" class="btn-submit">
        </form>
    </div>

</main>

<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>