main {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2vw;
}

html {
    font-family: 'Poppins', sans-serif;
}

form {
    text-align: center;
    font-size: 1.5vw;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: #ff4d4d;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.box1 {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    color: white !important;
    font-size: 1.2vw;
    width: 100%;
    max-width: 200px;
    background-color: #28a745;
    padding: 0.5vw 2vw;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 20px auto;
    text-align: center;
}
button:hover {
    background-color: #218838;
    cursor: pointer;
}

.login-page-title {
    color: #4CAF50 !important;
    font-size: 20px !important;
}

.register-link {
    font-size: 1rem;
    text-decoration: none !important;
    margin-top: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    text-align: center;
}

.register-link a {
    color: #28a745;
    text-decoration: none;
}

.register-link a:hover {
    color: #218838;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .box1 {
        width: 80%;
        margin: 30px auto;
    }
    button {
        font-size: 1.5vw;
        width: 100%;
        max-width: 200px;
        color: white;
    }
    .register-link {
        font-size: 0.9rem;
        text-decoration: none !important;
    }
    .messages {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .box1 {
        width: 90%;
        margin: 20px auto;
    }
    button {
        font-size: 1.8vw;
        width: 100%;
        max-width: 200px;
        color: white !important;
    }
    .register-link {
        font-size: 0.8rem;
        text-decoration: none !important;
    }
    .messages {
        font-size: 0.8rem;
        padding: 5px;
    }
}
