<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rewards</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rolePortalStyle.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    {% for title, points,image in rewards %}
    <h3>{{ title }}</h3><br>
    <p>{{ points }}</p>
    <img src="../../static/images/{{ image }}/">
    {% endfor %}

</body>
</html>
